{% extends 'base.html.twig' %}

{% block div_container %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Top Info -->
                <div id="title">
                    <span id="track"></span>
                    <div id="timer">0:00</div>
                    <div id="duration">0:00</div>
                </div>

                <!-- Controls -->
                <div class="controlsOuter">
                    <div class="controlsInner">
                        <div id="loading"></div>
                        <div class="btn" id="prevBtn"><span class="oi oi-media-step-backward"></span></div>
                        <div class="btn" id="playBtn"><span class="oi oi-media-play"></span></div>
                        <div class="btn" id="pauseBtn"><span class="oi oi-media-pause"></span></div>
                        <div class="btn" id="nextBtn"><span class="oi oi-media-step-forward"></span></div>
                    </div>
                    <div class="btn" id="playlistBtn"><i class="large material-icons">playlist_play</i></div>
                    <div class="btn" id="volumeBtn"><i class="large material-icons">volume_up</i></div>
                </div>

                <!-- Progress -->
                <div id="waveform"></div>
                <div id="bar"></div>
                <div id="progress"></div>

                <!-- Playlist -->
                <div id="playlist">
                    <div id="list"></div>
                </div>

                <!-- Volume -->
                <div id="volume" class="fadeout">
                    <div id="barFull" class="bar"></div>
                    <div id="barEmpty" class="bar"></div>
                    <div id="sliderBtn"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.core.min.js" integrity="sha256-X01rV9/R1vbHm3CxMRt6AFMe0Ea9wnpAGsurU3QkZU4=" crossorigin="anonymous"></script>
    <script src="/js/player.js"></script>
{% endblock %}

