# See http://help.github.com/ignore-files/ for more about ignoring files.

/.env
/.idea/
/.data/
!/.data/.gitkeep
/logs/
!/logs/.gitkeep

/player/vendor/
/player/web/bundles/

/player/var/
!/player/var/cache/.gitkeep
!/player/var/logs/.gitkeep
!/player/var/sessions/.gitkeep

/player/uploads/*
!/player/uploads/.gitkeep

/player/app/config/parameters.yml
