# See http://help.github.com/ignore-files/ for more about ignoring files.

/.idea/
/.vagrant/
/.web-server-pid

/bin/
/ubuntu-xenial-16.04-cloudimg-console.log
/vendor/
/web/bundles/

/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

/app/config/parameters.yml
/phpunit.xml
