# See http://help.github.com/ignore-files/ for more about ignoring files.

/.idea/
/.vagrant/

/.web-server-pid
/ubuntu-xenial-16.04-cloudimg-console.log

/vendor/
/web/bundles/

/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

/uploads/*
!/uploads/.gitkeep

/app/config/parameters.yml
