{{ form_start(form, {'action': path('playlist_new'), 'method': 'POST', 'attr': {'class': 'form-inline'}}) }}
<div class="input-group">
    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Playlist Name..'}}) }}
    <span class="input-group-btn">
        <button class="btn btn-dark" type="submit">Go!</button>
    </span>
</div>
{{ form_end(form) }}
