{{ form_start(form, {'action': path('playlist_delete', {'id': playlist.id}), 'method': 'DELETE', 'attr': {'class': "form-inline", 'style': 'display: inline-flex;'}}) }}
<button type="submit" class="icon-button"><span class="oi oi-trash"></span></button>
{{ form_end(form) }}
