{{ form_start(form, {'action': path('audio_delete', {'id': audio.id}), 'method': 'DELETE', 'attr': {'class': "form-inline delete-form", 'style': 'display: inline-flex;'}}) }}
<button type="submit" class="btn btn-danger"><span class="oi oi-trash"></span></button>
{{ form_end(form) }}
