{{ form_start(form, {'action': path('audio_new'), 'method': 'POST'}) }}
<label for="{{ form.audioFile.vars.id }}">
    <img src="/img/logo_upload.png" style="max-width:80%;"/>
</label>

{{ form_widget(form.audioFile, {'attr': {'class': 'file', 'onchange': 'this.form.submit()', 'style': 'display: none;'}}) }}
{{ form_end(form) }}
